<h5 class="fundo px-3 text-light">Sobre</h5>
<div class="p-2">
  <div class="aboutus-section">
    <div class="container">
      <div class="row">
        <!-- Primeira coluna com texto -->
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="aboutus">
            <h2 class="aboutus-title">Sobre o sistema</h2>
            <p class="aboutus-text text-justify">
              O AUTHFILE é um sistema web que tem como objetivo
              <strong>identificar fraudes em licitações</strong>. Para isso foi
              proposto um sistema que pudesse realizar essa análise e dar esse
              retorno fazendo uso de
              <strong>Inteligência Artificial (IA)</strong>.
            </p>
            <p class="aboutus-text text-justify">
              Comumente é notado que vários órgãos e empresas e processos
              licitatórios precisam lidar com a análise dos documentos enviados
              pelos inscritos e esse é um processo exaustivo, pois existem
              diferentes tipos de licitações e para cada uma delas é necessário
              analisar uma série de aspectos para identificar se o documento em
              questão pode, ou não, ser fraudulento. Mais do que isso, é
              necessária uma análise minuciosa para que aquilo que seja apenas
              um
              <strong>erro</strong> no documento não seja dito como
              <strong>fraude</strong>.
            </p>
            <p class="aboutus-text text-justify">
              No Sistema proposto será considerado apenas uma das modalidades de
              licitações existentes definidas pela
              <em>Lei 14.133 de 01 de Abril de 2021</em>, a modalidade
              <strong>Pregão</strong>. Escolhida de acordo com o tempo
              disponível, pois tentar criar um sistema que pudesse avaliar todas
              as modalidades é um trabalho de um nível de complexidade muito
              elevado.
            </p>
          </div>
        </div>

        <!-- Segunda coluna com imagens e texto explicativo -->
        <div class="col-md-6 col-sm-12 col-xs-12">
          <h3 class="mt-0">Ferramentas e Linguagens 🔗</h3>
          <div class="d-flex flex-column align-items-start">
            <div class="d-flex align-items-center mb-3">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flask/flask-original-wordmark.svg"
                width="80px"
                height="80px"
                alt="Flask"
                class="me-3"
              />
              <p class="mb-0 text-justify">Flask: Framework web para Python.</p>
            </div>
            <div class="d-flex align-items-center mb-3">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original-wordmark.svg"
                width="80px"
                height="80px"
                alt="Bootstrap"
                class="me-3"
              />
              <p class="mb-0 text-justify">
                Bootstrap: Framework CSS para criar layouts responsivos.
              </p>
            </div>
            <div class="d-flex align-items-center mb-3">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original-wordmark.svg"
                width="80px"
                height="80px"
                alt="Python"
                class="me-3"
              />
              <p class="mb-0 text-justify">
                Python: Linguagem de programação usada no back-end.
              </p>
            </div>
            <div class="d-flex align-items-center mb-3">
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original.svg"
                width="80px"
                height="80px"
                alt="Firebase"
                class="me-3"
              />
              <p class="mb-0 text-justify">
                SQLite: Plataforma utilizada como banco de dados.
              </p>
            </div>
            <div class="d-flex align-items-center mb-3">
              <img
                src="/static/imgs/bert_icon.png"
                width="80px"
                height="80px"
                alt="BERT"
                class="me-3"
              />
              <p class="mb-0 text-justify">
                BERT: Modelo de IA utilizado para processamento dos documentos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
