<h5 class="fundo px-3 text-light">Sobre</h5>
<div class="p-2">
    <h2 class="font-weight-bold">AUTHFILE 🔎🔏🗒️</h2>
    <p>
        O AUTHFILE é um sistema web que tem como objetivo <strong>identificar fraudes em licitações</strong>.
        Para isso foi proposto um sistema que pudesse realizar essa análise e dar esse retorno fazendo uso de
        <strong>Inteligência Artificial (IA)</strong>.
    </p>

    <h3 class="mt-4">O problema 🚨</h3>
    <p>
        Comumente é notado que vários órgãos e empresas e processos licitatórios precisam lidar com a análise dos
        documentos envidados pelos inscritos e esse é um processo exaustivo pois existem diferentes tipos de licitações
        e para cada uma delas e necessário analisar uma série de aspectos para identificar se o documento em questão
        pode,
        ou não, ser fraudulento. Mais do que isso, é necessário uma análise minuciosa para que aquilo que seja apenas um
        <strong>erro</strong> no documento não seja dito como <strong>fraude</strong>.
    </p>
    <p>
        No Sistema proposto será considerado apenas uma das modalidades de licitações existentes definidas pela
        <em>Lei 14.133 de 01 de Abril de 2021</em>, a modalidade <strong>Pregão</strong>. Escolhida de acordo com o
        tempo
        disponível pois tentar criar um sistema que pudesse avaliar todas as modalidades é um trabalho de um nível de
        complexidade muito elevado.
    </p>

    <h3 class="mt-4">Ferramentas e Linguagens 🔗</h3>
    <p>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flask/flask-original-wordmark.svg"
             width="50px" heigth="20px" alt="Flask"/>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original-wordmark.svg"
             width="50px" heigth="30px" alt="Bootstrap"/>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original-wordmark.svg"
             width="50px" heigth="20px" alt="Python"/>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original-wordmark.svg"
             width="50px" heigth="10px" alt="Firebase"/>
    </p>
</div>
