<h5 class="fundo px-3 text-light">Ajuda</h5>
<div>
  <div
    class="p-2 d-flex flex-column justify-content-center align-items-center"
    style="height: 60vh"
  >
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card" style="width: 50rem; height: 25rem">
          <div class="card-body">
            <h5 class="card-title">Envie sua dúvida</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Descreva abaixo a sua dúvida</h6>
            <p class="card-text">
              <textarea class="form-control" style="min-width: 100%;height:25vh"></textarea>
            </p>
            <a href="#" class="btn btn-primary">
                <i class="bi bi-send-fill"></i>
                Enviar
            </a>
            <a href="#" class="btn btn-primary">
                <i class="bi bi-telephone-fill"></i>
                Telefone
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
