{% extends "base.html" %}

{% block head %}
    <style>
        body {
            background-color: #d3d3d3;
        }

        a#name-logo {
            color: #0d04f1;
        }

        .fundo {
            background-color: #0d04f1;
        }

        /* Alta especificidade para garantir que a regra seja aplicada */
        .navbar .navbar-nav .nav-link {
            font-size: 0.75rem; /* Ajuste o valor conforme necessário */
        }
    </style>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block body %}
    <div class="container m-0 text-left">
        <div class="row">
            <div class="col-2 pt-4 ">
                <ul class="nav flex-column nav-pills p-0 gap-2">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="#">Enviar Documento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Histórico de Solicitações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Ajuda</a>
                    </li>
                    <li class="nav-item">
                        <a aria-disabled="true" class="nav-link active">Sobre</a>
                    </li>
                </ul>
            </div>
            <div class="col px-4 pt-4 border">
                <ul style="list-style:none">
                    <li>
                        Documento a ser avaliado
                    </li>
                    <li>
                        <input type="file" name="upload_document" id="" class="">
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}