<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a
      class="navbar-brand fs-4 fw-bold d-flex align-items-center"
      href="/index"
      id="name-logo"
    >
      <img
        alt="Logo"
        class="d-inline-block align-text-center me-2"
        height="32"
        src="/static/imgs/Icon_Blue%20no%20BG.png"
        width="30"
      />
      AUTHFILE
    </a>
    <div class="d-flex ms-auto">
      <a
        href="/user_info"
        class="btn py-1 d-flex align-items-center"
        type="button"
      >
        <i class="bi bi-person-circle fs-2 me-2"></i>
        {{ empresa.representante }}
      </a>
      <a
        href="/logout"
        class="btn py-1 d-flex align-items-center"
        type="button"
      >
        <i class="bi bi-box-arrow-right fs-2 me-2"></i>
        Sair
      </a>
    </div>
  </div>
</nav>
