{% extends 'base.html' %}

{% block head %}
    <style>
        .gradient-custom {
            background: #0c0ef2;
            background: -webkit-linear-gradient(180deg, #0c0ef2, #0640f2, #184ef2, #2959f2, #889cf3);
            background: linear-gradient(180deg, #0c0ef2, #0640f2, #184ef2, #2959f2, #889cf3);
        }

        body {
            background-color: #f4f5f7;
        }

        a#name-logo {
            color: #0d04f1;
        }

        .fundo {
            background-color: #0d04f1;
        }

        .navbar .navbar-nav .nav-link {
            font-size: 0.75rem;
        }
    </style>
    </style>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block body %}
    <section class="vh-90">
        <div class="container py-4 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-3 mb-lg-0">
                    <div class="card h-100 mb-2" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                     alt="Avatar" class="img-fluid my-5" style="width: 80px;"/>
                                <h5>{{ empresa.nome }}</h5>
                                <p>{{ empresa.representante }}</p>
                                <i class="far fa-edit mb-4"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Informações</h6>
                                    <hr class="mt-0 mb-3">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-2">
                                            <h6>Email</h6>
                                            <p class="text-muted">{{ empresa.email_comercial }}</p>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h6>CNPJ</h6>
                                            <p class="text-muted">{{ empresa.cnpj }}</p>
                                        </div>
                                    </div>
                                    <h6>Projetos</h6>
                                    <hr class="mt-0 mb-3">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-2">
                                            <h6>Recente</h6>
                                            <p class="text-muted">Lorem ipsum</p>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <h6>Mais Visto</h6>
                                            <p class="text-muted">Dolor sit amet</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start">
                                        <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                        <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                        <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}